/* You can add global styles to this file, and also import other style files */
body {
    background-color: black; /* Change to your desired color */
    background-image: url('/assets/background.jpg'); /* Optional: Add an image */
    background-size: cover; /* Ensure the image covers the entire screen */
    background-repeat: no-repeat;
  }
